<%- include('../partials/header')%>

<section id="show-page">
  <div><h3>Title:</h3></div>
  <div><%= advice.title %></div>
  <div><h3>Category:</h3></div>
  <div><%= advice.category %></div>
  <div><h3>Professional Experience?</h3></div>
  <div><%= advice.profExp ? "Yes" : "Nope" %></div>
  <div><h3>Advice:</h3></div>
  <div><%= advice.advice %></div>
  <div><h3>Shared by:</h3></div>
  <div><%= advice.userName %></div>
</section>
<br />
<br />

<h2>Comments</h2>
<form
  id="add-comment-form"
  method="POST"
  action="/advice/<%= advice._id %>/comments"
>
  <textarea name="comment"></textarea>
  <input type="submit" value="Add Comment" />
</form>

<%- include('../partials/footer') %>
